.element-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: black;

  .element-modal {

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 400px;
    height: fit-content;
    max-width: 90%;
    padding: 24px;
    position: relative;
    animation: fadeInScale 0.3s ease-in-out;

    .element-modal-button-container {
      display: flex;
      justify-content: center;
      justify-items: center;
      .element-modal-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        margin: 0.5rem;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    .element-header {

      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 16px;
      border-radius: 8px;


      .element-number {

      }

      .element-symbol {

      }

      .element-name {

      }

      .element-mass {

      }
    }
  }

  .element-details {

  }
}
