:host {
  .settings-option-button-container {
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .settings-action-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    min-width: 90%;

    &:hover {
      background-color: #0056b3;
    }
  }

  .settings-modal-save-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #218838;
    }
  }

  .settings-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: black;

    .settings-modal {

      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      width: 400px;
      height: fit-content;
      max-width: 90%;
      padding: 24px;
      position: relative;
      animation: fadeInScale 0.3s ease-in-out;

      .settings-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .settings-option {
          display: flex;
          justify-content: space-between;
          align-items: center;
          justify-items: center;

          .settings-label {
            font-size: 1rem;
            color: #333;
          }

          .settings-input {

            width: 60px;
            padding: 4px;
            font-size: 1rem;

            &:hover {
              border: 1px solid #007bff;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
