@let $element = element();
<div (click)="openModal()" class="element-tile" [ngStyle]="{'background-color': '#' + $element['cpk-hex']}">


  @if(correct()) {
    <div class="element-header">
      <div class="element-number">{{ $element.number }}</div>
      <div class="element-mass">{{ Math.round($element.atomic_mass * 100) / 100 }}</div>
    </div>

    <div class="element-info">
    <div class="element-symbol">{{ $element.symbol }}</div>
    <div class="element-name">{{ $element.name }}</div>
    </div>
  } @else {
    <div class="element-info">
      <div class="element-symbol">{{ $element.symbol }}</div>

    </div>
  }

</div>
