@let $element = element();
@let settings = settings$ | async;

<div (click)="openModal()" class="element-tile" [ngStyle]="settings?.colorsEnabled || correct() ? {'background-color': '#' + $element['cpk-hex']} : {}">


  @if(correct()) {
    <div class="element-header">
      <div class="element-number">{{ $element.number }}</div>
      <div class="element-mass">{{ Math.round($element.atomic_mass * 100) / 100 }}</div>
    </div>

    <div class="element-info">
    <div class="element-symbol">{{ $element.symbol }}</div>
    <div class="element-name">{{ $element.name }}</div>
    </div>
  } @else {

    <div class="element-header">
      @if(settings?.atomicNumberHintEnabled) {
      <div class="element-number">{{ $element.number }}</div>
      }

      @if(settings?.massHintEnabled) {
      <div class="element-mass">{{ Math.round($element.atomic_mass * 100) / 100 }}</div>
      }
    </div>


    <div class="element-info">

      @if(settings?.symbolHintEnabled) {
      <div class="element-symbol">{{ $element.symbol }}</div>
      }

      @if(settings?.nameHintEnabled) {
      <div class="element-name">{{ $element.name }}</div>
      }

    </div>
  }

</div>
