:host {
  .game-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #222;
    color: white;

    .stat {
      display: flex;
      flex-direction: column;
      align-items: center;

      .settings-button {
        background-color: #444;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  .periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 5px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #333333;
    overflow: hidden;

  }

}
