
@let totalCorrect = totalCorrect$ | async;
@let totalAttempts = totalAttempts$ | async;
@let firstTryCorrect = firstTryCorrect$ | async;
@let timePassed = timePassed$ | async;
<div class="game-stats">
  <div class="stat">
    <div class="stat-label">Time passed</div>
    <div class="stat-value">{{ timePassed }}</div>
  </div>
  <div class="stat">
    <div class="stat-label">Total Correct</div>
    <div class="stat-value">{{ totalCorrect }} / {{periodicTable.elements.length}}</div>
  </div>
  <div class="stat">
    <div class="stat-label">Total Attempts</div>
    <div class="stat-value">{{ totalAttempts }}</div>
  </div>
  <div class="stat">
    <div class="stat-label">First Try Correct</div>
    <div class="stat-value">{{ firstTryCorrect }}</div>
  </div>
  <div class="stat">


    <button class="settings-button" (click)="openSettingsModal()">Open Settings</button>

  </div>
</div>
<div class="periodic-table">


  @for ($element of periodicTable.elements; track $element.number) {
    <app-element-tile
      [correct]="correctElements.has($element)"
      (selectElement)="openModal($element)"
      [element]="$element"
      [style.grid-column]="$element.xpos"
      [style.grid-row]="$element.ypos"
    ></app-element-tile>

  }


  @if (selectedElement) {
    <app-element-modal [wasCorrect]="correctElements.has(selectedElement)" (correctAnswered)="markElementAsCorrect()" (close)="closeModal()" [element]="selectedElement"></app-element-modal>
  }

  @if (isSettingsModalVisible) {
    <app-settings-modal (close)="closeSettingsModal()" ></app-settings-modal>
  }
</div>

